/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Lora');

/*General Styles: Everything which does not change*/
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FAEBD7;
}
h1, h2 {
  font-family: 'Lora', serif;
}
a, a:visited {
  color: #6495ED;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header a, header a:visited {
  color: #FAEBD7;
  text-decoration: none;
}
a:active {
  color: #DEB887
}
nav a:hover {
  color: #FFFFFF;
}
h2 a {
  color: #000000;
}
h2 a:hover {
  color: #6495ED;
}
main {
  padding: 30px 15px;
  margin: 0 auto;
  background-color: #FAEBD7;
  display: flex;
  flex-direction: column;
}
article {
 background-color: #FFFFFF;
 box-shadow: 3px 4px 10px #888888;
 margin: 10px auto;
 padding: 2em;
}
header {
  background-color: #6495ED;
  padding: 2em;
  text-align: right;
}
header ul {
  list-style: none;
}
header ul li {
  margin: 1em 0;
}
hr {
  color:#FAEBD7
}
.post-date {
  color: gray;
}


/*Mobile Styles: Everything which changes with media queries*/
  /* put the header at the top of the page */

article {
 width: 90%;
 max-width: 90%;
}
img {
  width: 70%;
  height: auto;
  margin: 2em 15%;
  /*
  padding: 3em 20vw 1em; */
}
/*Large Screen Styles: Media Queries for larger screens*/
@media screen and (min-width: 768px) {
  header {
    position: fixed;
    height: 100%;
    width: 20vw;
  }
  main {
    position: absolute;
    right: 5vw;
    width: 60vw;
  }
}
