html,
body {
  width: 100%;
  height: 100%;
}

.page-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 8.3333% ) ;
  grid-template-rows: repeat(7, 14.28%  );
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.intro {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  overflow: visible;
  position: relative;


  &::before {
    content: '';
    @include sun;
    position: absolute;
    background-size: contain;
    width: 563px;
    height: 602px;
    top: -248px;
    left: -222px;
  }

  header {
    position: relative;
    padding: 10px;
  }

  .summary {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 300px;
    height: 300px;
    @include big-dipper;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }
  }

  .preamble {
    position: absolute;
    top: 9%;
    right: -2%;
    width: 275px;
    height: 275px;
    @include planet-earth;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }

  }
}



.main {
  grid-column: 1 / 11;
  grid-row: 1 / 9;

  display: flex;

  .explanation{
    //So What is this About?
    position: absolute;
    bottom: 32%;
    left: 1%;
    width: 175px;
    height: 175px;
    @include planet-purple;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      padding-top: 700px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }
  }

  .participation{
    position: absolute;
    bottom: 35%;
    left: 38%;
    width: 250px;
    height: 250px;
    @include planet-yellow;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }
  }

  .benefits{
    position: absolute;
    bottom: -5%;
    left: 38%;
    width: 500px;
    height: 300px;
    @include spaceship;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(10deg);

    h3{
      color: red;
    }

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }
  }

  .requirements{
    position: absolute;
    bottom: 61%;
    right: 16%;
    width: 375px;
    height: 375px;
    @include planet-blue;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
       transform:  translateX(20px);
      }
    }
  }

  footer{
    position: absolute;
    top: 85%;
    right: 72%;
    width: 468px;
    height: 150px;
    @include planet-orange;
  //  background-size: contain;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.sidebar {
  grid-column: 11 / 13;
  grid-row: 1 / 8;
  font-size: 14px;
  overflow: hidden;

  li {
    list-style-type: none;
    background-color: rgba(255,255,2555,.5);
    margin-bottom: 9px;
    padding: 6px;
    height: 40px;
    transition: .5s;
    &:hover{
       transform: translateX(-20px);
     }

  }
}

//
// /* ********************************
// ***** Mobile Layout ***************
// ********************************* */
// .main>* {
//     width: auto;
// }
// header {
//     position: relative;
// }
//
//
//
// //Alien insertion
// .design-name {
//     @include alien1;
// }
// .design-archives {
//     @include alien2;
// }
// .zen-resources {
//     @include alien3;
// }
// .next {
//     @include alien4;
// }
// .designer-name {
//     @include alien5;
// }
// nav {
//     position: relative;
//     @include alien6;
// }
// nav :before {
//     content:"";
//     position: absolute;
//     width: 100px;
//     height: 100px;
//     top: 0;
//     left: -50px;
//     @include alien1;
//     transition: 2s;
// }
// nav:hover :before {
//     transform: translateX(-50px);
// }
// @include breakpoint(medium) {
// .page-wrapper {
//         display: grid;
//         grid-gap: 5px;
//        grid-template-columns: repeat(12, [col] 8.3333% ) ;
//        grid-template-rows: repeat(7, [row]  14.28%  );
//  margin: 0;
//  padding: 0;
//  position: relative;
//
//
//     }
//
//   .intro {
//     grid-column: 1 / span 3;
//     grid-row: 1 / span 6;
//     }
//       #zen-intro{
//          @include sun;
//         grid-column: 1 / span 5;
//         grid-row: 1 / span 2;
//        width: 100%;
//             }
//
//
//     #zen-summary {
//        grid-row: 2;
//           }
//
//     #zen-preamble{
//      @include planet-earth;
//         grid-column: 2 ;
//         grid-row: 4;
//           }
//
//
//     //Columns 7-12 after the intro
//     .main {
//
//
//         .explanation {      //So What is This About?
//           @include planet-yellow;
//             grid-column: 9;
//             grid-row: 2;
//         }
//         //
//          .participation  {   //Participation
//            @include planet-blue;
//              grid-column: 2;
//              grid-row: 4;
//
//          }
//          .benefits  {        //Benefits
//            @include planet-purple;
//             grid-column: 1 / span 2;
//             grid-row: 6;
//
//          }
//
//   }
//
//     //Sidebar
//     .sidebar {
//       grid-column: col 11 / span 3;
//       transform: translateX(30px);
//   }
//
//       .wrapper {
//
//             &> .design-selection {
//                  //Select a Design
//                     grid-column:  1/ 3;
//                     grid-row: 1;
//             }
//             &> .design-archives {
//                      //Archives
//                     grid-column: 1 / 3;
//                     grid-row: 2;
//             }
//             &> .zen-resources {
//                  //Resources
//                     grid-column: 1 / 3;
//                     grid-row: 3;
//             }
//         }
//
//
//     //Footer
//     footer  {
//       @include planet-orange;
//         grid-column: 6 / span 3;
//         grid-row: 9;
//     }
// }
