// Example of Nested code used on gridbyexample.com
// .wrapper {
//         display: grid;
//     grid-gap: 10px;
//         grid-template-columns: repeat(4, [col] 150px ) ;
//         grid-template-rows: repeat(2, [row] auto  );
//         background-color: #fff;
//         color: #444;
//     }
//
//     .box {
//         background-color: #444;
//         color: #fff;
//         border-radius: 5px;
//         padding: 20px;
//         font-size: 150%;
//
//     }
//
//     .box .box {
//         background-color: #ccc;
//         color: #444;
//     }
//
//     .a {
//         grid-column: col / span 2;
//         grid-row: row;
//     }
//
//     .b {
//         grid-column: col 3 / span 2;
//         grid-row: row;
//     }
//
//     .c {
//         grid-column: col / span 2;
//         grid-row: row 2;
//     }
//
//     .d{
//         grid-column: col 3 / span 2;
//         grid-row: row 2;
//         display: grid;
//     grid-gap: 10px;
//         grid-template-columns: 1fr 1fr;
//     }
//
//     .e {
//         grid-column: 1 / 3;
//         grid-row: 1;
//     }
//
//     .f {
//         grid-column: 1;
//         grid-row: 2;
//     }
//
//     .g {
//         grid-column: 2;
//         grid-row: 2;
//     }


//*first part of 1-3 rows*//
.main>*{
    max-width: 95vw;
    margin: auto;
}
@include breakpoint(medium) {
.page-wrapper {
        display: grid;
    grid-gap: 5px;
        grid-template-columns: repeat(12, [col] 8.3333% ) ;
        grid-template-rows: repeat(9, [row] 100px  );
    max-width: 100vw;

    }

    .intro {
      grid-column: col 1 / span 5;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

    header {
        grid-column: 1 / 5;
        grid-row: 1;
        width: 100%;
        @include star(1em, $star-color, 10em, 26em);
            }

    .summary {
        grid-column: 1 / 4;
        grid-row: 2;
        @include star(1em, $star-color, 13em, 27em);
          }

    .preamble {
        grid-column: 1 / 4;
        grid-row: 6;
        grid-row: 3;
        @include star(1em, $star-color, 17em, 27em);
          }


    //second part of 4-8 rows
    .main {
      grid-column: col 5 / span 3;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

        .explanation {      //So What is This About?
            grid-column: 1 / 2;
            grid-row: 1;
            @include star(1em, $star-color, 20em, 32em);
        }

        .participation  {   //Participation
            grid-column: 3 / 4;
            grid-row: 1;
            @include star(1em, $star-color, 26em, 30em);
        }
        .benefits  {        //Benefits
            grid-column: 1 / 2;
            grid-row: 2;
            @include star(1em, $star-color, 26em, 24em);
        }
        .requirements  {    //Requirements
            grid-column: 3 / 4;
            grid-row: 2;
        }


    //Sidebar
    .sidebar {
      grid-column: col 11 / span 3;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
}

      .wrapper {
        background-color: lightgray;

            &> .design-selection {
                 //Select a Design
                    grid-column:  1/ 3;
                    grid-row: 1;


            }
            &> .design-archives {
                     //Archives
                    grid-column: 1 / 3;
                    grid-row: 2;

            }
            &> .zen-resources {
                 //Resources
                    grid-column: 1 / 3;
                    grid-row: 3;

            }
        }


    //Footer
    footer  {
        grid-column: 6 / span 3;
        grid-row: 9;
    }
}
