html,
body {
  width: 100%;
  height: 100%;
}

.page-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 8.3333% ) ;
  grid-template-rows: repeat(7, 14.28%  );
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.intro {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  overflow: visible;
  position: relative;


  &::before {
    content: '';
    @include sun;
    position: absolute;
    background-size: contain;
    width: 563px;
    height: 602px;
    top: -248px;
    left: -222px;
  }

  header {
    position: relative;
    padding: 10px;
  }

  .summary {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 300px;
    height: 300px;
    @include big-dipper;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }
  }

  .preamble {
    position: absolute;
    top: 9%;
    right: -2%;
    width: 275px;
    height: 275px;
    @include planet-earth;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }

  }
}



.main {
  grid-column: 1 / 11;
  grid-row: 1 / 9;

  display: flex;

  .explanation{
    //So What is this About?
    position: absolute;
    bottom: 32%;
    left: 1%;
    width: 175px;
    height: 175px;
    @include planet-purple;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }
  }

  .participation{
    position: absolute;
    bottom: 35%;
    left: 38%;
    width: 250px;
    height: 250px;
    @include planet-yellow;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }
  }

  .benefits{
    position: absolute;
    bottom: -5%;
    left: 42%;
    width: 500px;
    height: 300px;
    @include spaceship;
    background-size: contain;
    overflow: hidden;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(10deg);

    h3{
      margin: 2px 0;
      color: red;
    }

    p {
      margin: 0;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
      }
    }
  }

  .requirements{
    position: absolute;
    bottom: 50%;
    right: 16%;
    width: 375px;
    height: 375px;
    @include planet-blue;
    background-size: contain;
    overflow: visible;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {padding: 5px;
      opacity: 0;
      height: 0;
      background-color:rgba(0,0,0,0.5);
    }

    &:hover {
      p {
       opacity: 1;
       height: auto;
       transform:  translateX(20px);
      }
    }
  }

  footer{
    position: absolute;
    top: 85%;
    right: 68%;
    width: 497px;
    height: 259px;
    @include planet-orange;
    overflow: hidden;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a{
      padding: 5px;
      color: white;
      font-size: 20px;
    }
    a:hover, a:focus, a:active {
      text-decoration: none;
      font-size: 40px;
    	color: #f5a562;
      transform: scale(1);
    	}

  }
}

.sidebar {
  grid-column: 11 / 13;
  grid-row: 1 / 8;
  font-size: 14px;
  overflow: visible;

  li {
    list-style-type: none;
    background-color: rgba(255,255,2555,.5);
    margin-bottom: 9px;
    padding: 6px;
    height: 40px;
    transition: .5s;
    &:hover{
       transform: translateX(-20px);
     }

  }
}

//
// /* ********************************
// ***** Mobile Layout ***************
// ********************************* */



// //Alien insertion
// .design-name {
//     @include alien1;
// }
// .design-archives {
//     @include alien2;
// }
// .zen-resources {
//     @include alien3;
// }
// .next {
//     @include alien4;
// }
// .designer-name {
//     @include alien5;
// }
