@mixin star($size, $color, $posX, $posY) {
    //Pos X and Y are in em
    &:before {
        width: 0;
        height: 0;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: ($size*2) solid $color;
        position: absolute;
        content: "";
        top: $posY;
        left: $posX;
        z-index: -1;
    }
    &:after {
        width: 0;
        height: 0;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: ($size*2) solid $color;
        position: absolute;
        content: "";
        top: ($posY + ($size/2));
        left: $posX;
        z-index: -1;
    }
}
