@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Brush+Script|Nanum+Myeongjo|Nunito+Sans|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

@import 'variables';



//https://www.creativebloq.com/how-to/design-a-responsive-site-with-em-based-sizing
//A website to explain ems
body{
  margin: 0;
  font-family: $all-text;
      background-color: $main-bg;
      color: $font-color;
      background-color: $main-background;

      font-size: 1px;


}

.intro{
}

h1{
  margin: 0;
  padding: 0;
  font-family: $titles;
  color: $header-color;
  font-size: $header1-size;
  transform: rotate(-5deg);

}

h2{
  font-family: $all-text;
  margin: 15px;
  padding: 0;
  color: $header-color;
  font-size: $header2-size;
  font-kerning: auto;
}

h3{
  margin: 2px;
  padding: 0;
  font-family: $titles;
  font-size: 1rem;
  text-align: left;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: blueviolet;
    }
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #392758;
    }
a:hover, a:focus, a:active {
  text-decoration: none;
  font-size: 20px;
    color: #f5a562;
  transform: scale(1);
    }


li{list-style-type: none;}
