@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Brush+Script|Nanum+Myeongjo|Nunito+Sans|Permanent+Marker');

@import 'variables';



//https://www.creativebloq.com/how-to/design-a-responsive-site-with-em-based-sizing
//A website to explain ems
body{
  margin: 0;
  font-family: $all-text;
      background-color: $main-bg;
      color: $font-color;
      background-color: $main-background;

      font-size: 1px;


}

.intro{
}

h1{
  margin: 0;
  padding: 0;
  font-family: $titles;
  color: $header-color;
  font-size: $header1-size;
  transform: rotate(-5deg);

}

h2{
  font-family: $all-text;
  margin: 5px;
  padding: 30px;
  color: $header-color;
  font-size: $header2-size;
}

h3{
  margin: 5px;
  padding: 10px;
  font-family: $titles;
  font-size: 1rem;
  text-align: left;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #392758;
	}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #f5a562;
	}
a:hover, a:focus, a:active {
  text-decoration: none;
  font-size: 16px;
	color: #f5a562;
  transform: scale(1);
	}

// a{
//   text-decoration: none;
// }
// a:hover{
//   display: inline-block;
//   color: $hover-color;
//   font-weight: bold;
//   font-size: 36px;
//   transform:  translateX(-150) scale(1);
//   transition-duration: 1s;
//   transition-property: transform;
// }
// .hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
//   transform: translateX(-8px);
// }

li{list-style-type: none;}
