/*color variables*/
$main-bg: #041322;
$secondary-bg: gray;
$font-color: white;
$alt-font-color: blue;
$big-sun: yellow;
$main-background: gray;

/*Star shape variables*/
$star-color: white;
$main-bg: white;

// Typography
$all-text: 'Nunito Sans', sans-serif;
$titles: 'Permanent Marker';

$hover-color: coral;

$header-color: white;
$header1-size: 2rem;
$header2-size: 1rem;
