/*color variables*/
$main-bg: white;
$secondary-bg: lightgray;
$font-color: black;
$alt-font-color: coral;
$main-background: gray;

// Typography
$all-text: 'Nunito Sans', sans-serif;
$titles: 'Permanent Marker';

$hover-color: coral;

$header-color: white;
$header1-size: 5rem;
$header2-size: 2rem;
